@charset "UTF-8";
html body {
  margin: 0;
  color: #464646;
}

html body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  background: repeating-linear-gradient(to bottom, transparent, transparent 30px, lightgray 30px, lightgray calc(30px + 1px)), repeating-linear-gradient(to right, transparent, transparent 30px, lightgray 30px, lightgray calc(30px + 1px));
  z-index: -1;
}

html body #content {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding-top: 20px;
}

html body #content header div {
  margin: 0 20px;
  border-bottom: solid #ff748b 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body #content header div h1.title {
  margin: 0;
  padding-left: 20px;
  width: 230px;
  display: inline-block;
  color: #464646;
}

html body #content header div a {
  height: 20px;
  text-decoration: none;
  color: #464646;
  border-bottom: solid #ff748b 1px;
  margin: 20px 20px 10px auto;
  -webkit-transition: border .1s, color .1s;
  transition: border .1s, color .1s;
}

html body #content header div a:hover {
  color: #ff748b;
  border-bottom-width: 2px;
}

html body #content main {
  padding-left: 10px;
  margin-bottom: 40px;
}

html body #content main h2.label {
  padding-left: 10px;
  margin: 20px 0 20px 20px;
  border-bottom: solid #ff748b 2px;
  width: 300px;
  font-size: 20px;
  color: #464646;
}

html body #content main h2.label svg {
  width: 28px;
  position: absolute;
  margin-left: 265px;
}

html body #content main h2.label svg.index circle {
  fill: #ff748b;
}

html body #content main h2.label svg.index line {
  stroke: #ff748b;
  stroke-width: 6px;
}

html body #content main h2.label svg.minesweeper polygon, html body #content main h2.label svg.minesweeper circle {
  fill: #ff748b;
  stroke: none;
}

html body #content main h2.label svg.reversi circle.black {
  fill: #ff748b;
  stroke: #ff748b;
  stroke-width: 3px;
}

html body #content main h2.label svg.reversi circle.white {
  fill: none;
  stroke: #ff748b;
  stroke-width: 3px;
}

html body #content main h2.label svg.quiz text {
  fill: #ff748b;
}

html body #content main h2.label svg.pictogram polygon {
  fill: none;
  stroke: #ff748b;
  stroke-width: 4px;
}

html body #content main h2.label svg.afterword path {
  fill: none;
  stroke: #ff748b;
  stroke-width: 4px;
}

html body #content main div.content {
  margin: 0 0 40px 30px;
}

html body #content main #index-list ul.index-list {
  list-style: none;
  padding-left: 10px;
}

html body #content main #index-list ul.index-list li.index {
  margin-bottom: 10px;
  border-left: solid #ff748b 5px;
  padding: 3px 0 3px 10px;
  background-color: #fcecee;
  max-width: 200px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

html body #content main #index-list ul.index-list li.index:hover {
  border-left-width: 15px;
}

html body #content main #index-list ul.index-list li.index a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: #464646;
  text-decoration: none;
}

html body #content main #minesweeper #ms-description {
  margin: 0 0 0 10px;
}

html body #content main #minesweeper #ms-description p {
  margin: 0 20px 10px 0;
}

html body #content main #minesweeper #ms-description label[for="ms-rule"] {
  border-bottom: solid #ff748b 2px;
  padding: 0 10px 0 5px;
  cursor: pointer;
  -webkit-transition: color, .2s;
  transition: color, .2s;
}

html body #content main #minesweeper #ms-description label[for="ms-rule"]:hover {
  color: #ff748b;
}

html body #content main #minesweeper #ms-description label[for="ms-rule"] span.plus {
  color: #ff748b;
}

html body #content main #minesweeper #ms-description div.ms-rule {
  margin-right: 20px;
  background-color: rgba(255, 116, 139, 0.1);
  padding-left: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  padding: 10px;
}

html body #content main #minesweeper #ms-description div.ms-rule h3 {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
  margin: 0 0 10px 0;
  border-left: solid #ff748b 5px;
}

html body #content main #minesweeper #ms-description div.ms-rule p {
  margin: 5px 0 5px 10px;
}

html body #content main #minesweeper #ms-description div.ms-rule p:last-of-type {
  margin: 5px 0 0 10px;
}

html body #content main #minesweeper #ms-description input#ms-rule:checked + div.ms-rule {
  margin-bottom: 0;
  max-height: 1000px;
  visibility: visible;
  opacity: 1;
}

html body #content main #minesweeper #ms-setting {
  margin: 0 0 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body #content main #minesweeper #ms-setting #ms-difficulty {
  padding: 2px 10px 2px 2px;
  border: none;
  border-bottom: solid #ff748b 2px;
  font-size: 16px;
  outline: 0;
  height: 30px;
  color: #464646;
}

html body #content main #minesweeper #ms-setting input[type="number"] {
  border: none;
  border-bottom: solid #ff748b 2px;
  width: 50px;
  font-size: 15px;
  outline: 0;
  background-color: white;
  height: 26px;
  width: 60px;
  padding-left: 5px;
  -webkit-transition: border-color .1s;
  transition: border-color .1s;
}

html body #content main #minesweeper #ms-setting input[type="number"]:disabled {
  border-bottom: solid rgba(255, 116, 139, 0.3) 2px;
}

html body #content main #minesweeper #ms-setting #ms-start {
  outline: 0;
  border: none;
  background-color: #ff748b;
  color: white;
  font-size: 14px;
  padding: 7px 10px 4px 10px;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
}

html body #content main #minesweeper #ms-setting #ms-start:hover {
  background-color: rgba(255, 116, 139, 0.8);
}

html body #content main #minesweeper #ms-setting #ms-start:active {
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
  border-top: solid rgba(255, 255, 255, 0.2) 1px;
  border-bottom: none;
}

html body #content main #minesweeper #ms-setting .ms-setting-timer::after {
  content: '秒';
  position: absolute;
  margin-left: -20px;
  margin-top: 3px;
  color: #464646;
}

html body #content main #minesweeper #ms-setting .ms-setting-timer #ms-timer {
  width: 80px;
}

html body #content main #minesweeper #ms-setting .ms-setting-left #ms-left {
  width: 80px;
}

html body #content main #minesweeper #ms-setting .ms-setting-box {
  margin-right: 20px;
  margin-top: 20px;
}

html body #content main #minesweeper #ms-setting .ms-setting-box.ms-setting-box::before {
  font-size: 12px;
  position: absolute;
  margin-top: -14px;
  margin-left: 2px;
  color: #ff748b;
}

html body #content main #minesweeper #ms-setting .ms-setting-box.ms-setting-difficulty::before {
  content: '難易度';
}

html body #content main #minesweeper #ms-setting .ms-setting-box.ms-setting-sizeX::before {
  content: '横(7～50)';
}

html body #content main #minesweeper #ms-setting .ms-setting-box.ms-setting-sizeY::before {
  content: '縦(7～50)';
}

html body #content main #minesweeper #ms-setting .ms-setting-box.ms-setting-mines::before {
  content: '地雷(1～)';
}

html body #content main #minesweeper #ms-setting .ms-setting-box.ms-setting-timer::before {
  content: 'タイマー⌛';
}

html body #content main #minesweeper #ms-setting .ms-setting-box.ms-setting-left::before {
  content: '残りの地雷💣';
}

html body #content main #minesweeper table {
  margin: 20px 0 0 20px;
  border-radius: 3px;
  padding: 1px;
  border-collapse: separate;
  border-spacing: 2px 2px;
  background-color: #ebebeb;
}

html body #content main #minesweeper table tbody#msBoard tr td {
  padding: 0;
  margin: 0;
  width: 23px;
  height: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body #content main #minesweeper table tbody#msBoard tr td.closed {
  background: #96a0fc;
}

html body #content main #minesweeper table tbody#msBoard tr td.opened {
  background-color: white;
}

html body #content main #minesweeper table tbody#msBoard tr td.success::before {
  content: '💣';
  position: absolute;
  opacity: 0.8;
}

html body #content main #minesweeper table tbody#msBoard tr td.miss::before {
  content: '✖';
  position: absolute;
  color: white;
  font-size: 24px;
  opacity: 0.9;
}

html body #content main #minesweeper table tbody#msBoard tr td[data-mines] {
  color: #640000;
}

html body #content main #minesweeper table tbody#msBoard tr td[data-mines="1"] {
  color: #3232ff;
}

html body #content main #minesweeper table tbody#msBoard tr td[data-mines="2"] {
  color: #009600;
}

html body #content main #minesweeper table tbody#msBoard tr td[data-mines="3"] {
  color: #c80000;
}

html body #content main #minesweeper table tbody#msBoard tr td[data-mines="4"] {
  color: #960096;
}

html body #content main #minesweeper #ms-overlay {
  display: none;
  position: absolute;
  margin: 15px 0 0 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

html body #content main #minesweeper #ms-overlay.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: show-overlay .5s .5s forwards;
          animation: show-overlay .5s .5s forwards;
}

@-webkit-keyframes show-overlay {
  to {
    opacity: 1;
  }
}

@keyframes show-overlay {
  to {
    opacity: 1;
  }
}

html body #content main #minesweeper #ms-overlay.gameover p.ms-gameover {
  display: block;
}

html body #content main #minesweeper #ms-overlay.clear p.ms-clear {
  display: block;
}

html body #content main #minesweeper #ms-overlay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #content main #minesweeper #ms-overlay div p {
  display: none;
  margin: 0 0 40px 0;
  font-weight: bold;
  font-size: 26px;
  color: #353535;
}

html body #content main #minesweeper #ms-overlay div p.ms-clear {
  color: #ff9d2c;
}

html body #content main #minesweeper #ms-overlay div button {
  outline: 0;
  border: none;
  -webkit-box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.2);
          box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.2);
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 16px;
  background-color: #ff748b;
  color: whitesmoke;
  cursor: pointer;
}

html body #content main #minesweeper #ms-overlay div button:hover {
  background-color: #ff8ea0;
}

html body #content main #reversi #rv-description {
  margin: 0 0 0 10px;
}

html body #content main #reversi #rv-description p {
  margin: 0 20px 10px 0;
}

html body #content main #reversi #rv-description label[for="rv-rule"] {
  border-bottom: solid #ff748b 2px;
  padding: 0 10px 0 5px;
  cursor: pointer;
  -webkit-transition: color, .2s;
  transition: color, .2s;
}

html body #content main #reversi #rv-description label[for="rv-rule"]:hover {
  color: #ff748b;
}

html body #content main #reversi #rv-description label[for="rv-rule"] span.plus {
  color: #ff748b;
}

html body #content main #reversi #rv-description div.rv-rule {
  margin-right: 20px;
  background-color: rgba(255, 116, 139, 0.1);
  padding-left: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  padding: 10px;
}

html body #content main #reversi #rv-description div.rv-rule h3 {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
  margin: 0 0 10px 0;
  border-left: solid #ff748b 5px;
}

html body #content main #reversi #rv-description div.rv-rule p {
  margin: 5px 0 5px 10px;
}

html body #content main #reversi #rv-description div.rv-rule p:last-of-type {
  margin: 5px 0 0 10px;
}

html body #content main #reversi #rv-description input#rv-rule:checked + div.rv-rule {
  margin-bottom: 0;
  max-height: 1000px;
  visibility: visible;
  opacity: 1;
}

html body #content main #reversi #rv-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: 10px 0 0 20px;
  width: 258px;
  height: 258px;
  z-index: 10;
  visibility: hidden;
}

html body #content main #reversi #rv-overlay div {
  display: none;
}

html body #content main #reversi #rv-overlay div.black-pass, html body #content main #reversi #rv-overlay div.white-pass {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

html body #content main #reversi #rv-overlay div.black-pass p, html body #content main #reversi #rv-overlay div.white-pass p {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  color: black;
  font-style: italic;
}

html body #content main #reversi #rv-overlay.black-pass, html body #content main #reversi #rv-overlay.white-pass {
  -webkit-animation: slide-in-out 1s;
          animation: slide-in-out 1s;
}

@-webkit-keyframes slide-in-out {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  20% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  80% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes slide-in-out {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  20% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  80% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

html body #content main #reversi #rv-overlay.black-pass.black-pass div.black-pass, html body #content main #reversi #rv-overlay.white-pass.black-pass div.black-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #content main #reversi #rv-overlay.black-pass.white-pass div.white-pass, html body #content main #reversi #rv-overlay.white-pass.white-pass div.white-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #content main #reversi #rv-overlay div.black-win, html body #content main #reversi #rv-overlay div.white-win, html body #content main #reversi #rv-overlay div.draw {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #content main #reversi #rv-overlay div.black-win p, html body #content main #reversi #rv-overlay div.white-win p, html body #content main #reversi #rv-overlay div.draw p {
  font-weight: bold;
  font-size: 30px;
}

html body #content main #reversi #rv-overlay div.black-win.black-win p, html body #content main #reversi #rv-overlay div.white-win.black-win p, html body #content main #reversi #rv-overlay div.draw.black-win p {
  color: #fc9520;
}

html body #content main #reversi #rv-overlay div.black-win button, html body #content main #reversi #rv-overlay div.white-win button, html body #content main #reversi #rv-overlay div.draw button {
  width: 100px;
  outline: 0;
  border: none;
  -webkit-box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.2);
          box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.2);
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 16px;
  background-color: #ff748b;
  color: whitesmoke;
  cursor: pointer;
}

html body #content main #reversi #rv-overlay div.black-win button:hover, html body #content main #reversi #rv-overlay div.white-win button:hover, html body #content main #reversi #rv-overlay div.draw button:hover {
  background-color: #ff8ea0;
}

html body #content main #reversi #rv-overlay.black-win, html body #content main #reversi #rv-overlay.white-win, html body #content main #reversi #rv-overlay.draw {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: fade 1s forwards;
          animation: fade 1s forwards;
}

html body #content main #reversi #rv-overlay.black-win.black-win div.black-win, html body #content main #reversi #rv-overlay.white-win.black-win div.black-win, html body #content main #reversi #rv-overlay.draw.black-win div.black-win {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #content main #reversi #rv-overlay.black-win.white-win div.white-win, html body #content main #reversi #rv-overlay.white-win.white-win div.white-win, html body #content main #reversi #rv-overlay.draw.white-win div.white-win {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body #content main #reversi #rv-overlay.black-win.draw div.draw, html body #content main #reversi #rv-overlay.white-win.draw div.draw, html body #content main #reversi #rv-overlay.draw.draw div.draw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

html body #content main #reversi div.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body #content main #reversi div.screen table {
  margin: 10px 0 0 20px;
  border-radius: 3px;
  border-collapse: separate;
  border-spacing: 2px 2px;
  background-color: #0e0e0e;
}

html body #content main #reversi div.screen table tbody#rv-board tr td {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-size: 30px;
  text-align: center;
  line-height: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #00b300;
}

html body #content main #reversi div.screen table tbody#rv-board tr td.black::before {
  content: '●';
  color: black;
}

html body #content main #reversi div.screen table tbody#rv-board tr td.white::before {
  content: '●';
  color: #f0f0f0;
}

html body #content main #reversi div.screen table tbody#rv-board tr td.putBlack::before {
  content: '・';
  color: black;
}

html body #content main #reversi div.screen table tbody#rv-board tr td.putWhite::after {
  content: '・';
  color: #f0f0f0;
}

html body #content main #reversi div.screen table tbody#rv-board tr td::before {
  position: absolute;
  margin: -15px 0 0 -19px;
  font-size: 38px;
}

html body #content main #reversi div.screen table tbody#rv-board tr td::after {
  position: absolute;
  margin: -15px 0 0 -19px;
  font-size: 38px;
}

html body #content main #reversi div.screen table tbody#rv-board tr td.reverse.black::before {
  -webkit-animation: reverse-black .2s ease;
          animation: reverse-black .2s ease;
}

html body #content main #reversi div.screen table tbody#rv-board tr td.reverse.white::before {
  -webkit-animation: reverse-white .2s ease;
          animation: reverse-white .2s ease;
}

@-webkit-keyframes reverse-black {
  0% {
    color: white;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    color: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  51% {
    color: black;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    color: black;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes reverse-black {
  0% {
    color: white;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    color: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  51% {
    color: black;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    color: black;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes reverse-white {
  0% {
    color: black;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    color: black;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  51% {
    color: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    color: white;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes reverse-white {
  0% {
    color: black;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    color: black;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  51% {
    color: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    color: white;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

html body #content main #reversi div.screen table tbody#rv-board.black td.putBlack::before {
  display: inline-block;
}

html body #content main #reversi div.screen table tbody#rv-board.black td.putWhite::after {
  display: none;
}

html body #content main #reversi div.screen table tbody#rv-board.white td.putWhite::after {
  display: inline-block;
}

html body #content main #reversi div.screen table tbody#rv-board.white td.putBlack::before {
  display: none;
}

html body #content main #reversi div.screen #rv-settings {
  margin: 10px 0 0 20px;
}

html body #content main #reversi div.screen #rv-settings div.black, html body #content main #reversi div.screen #rv-settings div.white {
  margin-bottom: 10px;
  padding: 5px;
  border: dotted transparent 3px;
  -webkit-transition: border-color .4s;
  transition: border-color .4s;
}

html body #content main #reversi div.screen #rv-settings div.black p, html body #content main #reversi div.screen #rv-settings div.white p {
  margin: 0 0 30px 0;
}

html body #content main #reversi div.screen #rv-settings div.black p select#com-difficulty-setting, html body #content main #reversi div.screen #rv-settings div.white p select#com-difficulty-setting {
  outline: 0;
  border: none;
  font-size: 16px;
  margin-top: -4px;
  padding: 2px;
  border-bottom: solid #ff748b 2px;
}

html body #content main #reversi div.screen #rv-settings div.black div.counter input, html body #content main #reversi div.screen #rv-settings div.white div.counter input {
  background-color: transparent;
  border: none;
  border-bottom: solid rgba(255, 116, 139, 0.6) 2px;
  width: 60px;
  font-size: 16px;
  padding: 2px 0 2px 10px;
}

html body #content main #reversi div.screen #rv-settings div.black div.counter::before, html body #content main #reversi div.screen #rv-settings div.white div.counter::before {
  content: 'コマの数';
  color: #ff748b;
  font-size: 12px;
  position: absolute;
  margin: -20px 0 0 0;
}

html body #content main #reversi div.screen #rv-settings div.black div.counter::after, html body #content main #reversi div.screen #rv-settings div.white div.counter::after {
  content: 'コ';
  color: #464646;
  font-size: 14px;
  position: absolute;
  margin: 0 0 0 -20px;
}

html body #content main #reversi div.screen #rv-settings.black div.black {
  border-color: #ffa7b6;
}

html body #content main #reversi div.screen #rv-settings.white div.white {
  border-color: #ffa7b6;
}

html body #content main #reversi div.screen #rv-settings div.start button {
  outline: 0;
  border: none;
  background-color: #ff748b;
  color: white;
  font-size: 14px;
  padding: 7px 10px 4px 10px;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
}

html body #content main #reversi div.screen #rv-settings div.start button:hover {
  background-color: rgba(255, 116, 139, 0.8);
}

html body #content main #reversi div.screen #rv-settings div.start button:active {
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
  border-top: solid rgba(255, 255, 255, 0.2) 1px;
  border-bottom: none;
}

html body #content main #quiz div.quiz {
  background-color: #fff4f5;
  border: solid #ffa7b6;
  border-radius: 5px;
  max-width: 500px;
  padding: 10px 20px 20px 20px;
  margin: 40px 20px 40px 0;
}

html body #content main #quiz div.quiz h3::before {
  content: '';
  position: absolute;
  right: 0;
  margin: -40px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  color: #ffc400;
}

html body #content main #quiz div.quiz.difficulty-1 h3::before {
  content: '★☆☆☆☆';
}

html body #content main #quiz div.quiz.difficulty-2 h3::before {
  content: '★★☆☆☆';
}

html body #content main #quiz div.quiz.difficulty-3 h3::before {
  content: '★★★☆☆';
}

html body #content main #quiz div.quiz.difficulty-4 h3::before {
  content: '★★★★☆';
}

html body #content main #quiz div.quiz.difficulty-5 h3::before {
  content: '★★★★★';
}

html body #content main #quiz div.quiz:nth-child(1)::before {
  content: "Q.1";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(2)::before {
  content: "Q.2";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(3)::before {
  content: "Q.3";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(4)::before {
  content: "Q.4";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(5)::before {
  content: "Q.5";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(6)::before {
  content: "Q.6";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(7)::before {
  content: "Q.7";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(8)::before {
  content: "Q.8";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(9)::before {
  content: "Q.9";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz:nth-child(10)::before {
  content: "Q.10";
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz h3.question {
  position: relative;
  font-weight: normal;
  margin: 0 0 10px 0;
}

html body #content main #quiz div.quiz div.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body #content main #quiz div.quiz div.choices p.choice {
  margin: 7px 10px;
  padding: 10px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px lightgray;
          box-shadow: 0px 2px 5px lightgray;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.4);
  font-weight: bold;
}

html body #content main #quiz div.quiz div.choices p.choice:hover {
  background-color: rgba(211, 211, 211, 0.2);
}

html body #content main #quiz div.quiz div.choices.answered p.choice {
  background-color: rgba(211, 211, 211, 0.4);
}

html body #content main #quiz div.quiz div.choices.answered p.choice.answer {
  background-color: rgba(0, 177, 0, 0.2);
}

html body #content main #quiz div.quiz div.choices.answered p.choice.missed {
  background-color: rgba(255, 0, 0, 0.2);
}

html body #content main #quiz div.quiz div.choices.answered + div.answer {
  -webkit-animation: show-answer .3s forwards;
          animation: show-answer .3s forwards;
}

@-webkit-keyframes show-answer {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    margin-bottom: -50px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    max-height: 300px;
    margin-bottom: 0px;
  }
}

@keyframes show-answer {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    margin-bottom: -50px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    max-height: 300px;
    margin-bottom: 0px;
  }
}

html body #content main #quiz div.quiz div.choices.answered + div.answer::before {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

html body #content main #quiz div.quiz div.choices.answered.correct + div.answer::before {
  content: '正解！';
  color: #72c572;
}

html body #content main #quiz div.quiz div.choices.answered.wrong + div.answer::before {
  content: '不正解！';
  color: #ff4160;
}

html body #content main #quiz div.quiz div.answer {
  visibility: hidden;
  max-height: 0px;
  border-top: solid #b9b9b9 3px;
  margin: 20px 0 -50px 0;
  padding-top: 20px;
}

html body #content main #quiz div.quiz div.answer p.answer {
  margin: 0;
  font-size: 26px;
}

html body #content main #quiz div.quiz div.answer p.answer::before {
  content: 'A.';
  font-size: 20px;
  margin-right: 10px;
  color: #ff0e36;
}

html body #content main #quiz div.quiz div.answer p:not(.answer) {
  margin: 10px 0;
}

html body #content main #quiz div#result {
  background-color: #fff4f5;
  border: solid #ffa7b6;
  border-radius: 5px;
  max-width: 500px;
  margin-right: 20px;
  padding: 10px 20px 20px 20px;
}

html body #content main #quiz div#result h3 {
  margin: 5px 0 0 0;
  font-size: 22px;
}

html body #content main #quiz div#result div.quizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 0 0;
}

html body #content main #quiz div#result div.quizes p {
  margin: 5px 0;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  font-size: 18px;
}

@media (max-width: 399px) {
  html body #content main #quiz div#result div.quizes p {
    width: 100%;
  }
}

html body #content main #quiz div#result div.quizes p span.answer {
  font-weight: bold;
  font-size: 20px;
}

html body #content main #quiz div#result div.quizes p span.answer::before {
  content: '未回答';
}

html body #content main #quiz div#result div.quizes p span.answer.correct::before {
  content: '正解';
  color: #72c572;
}

html body #content main #quiz div#result div.quizes p span.answer.wrong::before {
  content: '不正解';
  color: #ff4160;
}

html body #content main #pictogram p {
  margin-right: 20px;
}

html body #content main #pictogram img.pictogram {
  width: 150px;
}

html body #content main #afterword p {
  margin-right: 20px;
}

html body #content footer {
  min-height: 40px;
  background-color: #fdc7d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #content footer p {
  margin: 10px 0 10px 20px;
  color: #424242;
}

html body #loading {
  background-color: #fcecee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loaded 1s forwards;
          animation: loaded 1s forwards;
  z-index: 10;
}

html body #loading div .loading {
  width: 75px;
  height: 75px;
  margin: 10px auto;
  border-radius: 50%;
  border: solid rgba(255, 116, 139, 0.2) 10px;
  border-top: solid #ff748b 10px;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html body #loading div p {
  margin: 0;
}

@-webkit-keyframes loaded {
  from {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  to {
    top: -100px;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loaded {
  from {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  to {
    top: -100px;
    opacity: 0;
    visibility: hidden;
  }
}
