$color-load-background: rgb(252, 236, 238);
$color-background: whitesmoke;
$color-text: rgb(70, 70, 70);
$color-background-line: lightgray;
$color-accent: rgb(255, 116, 139);

$color-background-footer: rgb(253, 199, 208);

$color-minesweeper-background: rgb(150, 160, 252);

$mesh-size: 30px;

@mixin pc {
	@media (min-width: 400px) { @content; }
}

@mixin sp {
	@media (max-width: 399px) { @content; }
}

html {
	body {
		margin: 0;
		color: $color-text;

		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-background;
			background: repeating-linear-gradient(to bottom, transparent, transparent $mesh-size, $color-background-line $mesh-size, $color-background-line calc(#{$mesh-size} + 1px)), repeating-linear-gradient(to right, transparent, transparent $mesh-size, $color-background-line $mesh-size, $color-background-line calc(#{$mesh-size} + 1px));
			z-index: -1;
		}

		input[type="number"] {
			-webkit-appearance: none;
			-moz-appearance: textfield;
		}

		#content {
			max-width: 900px;
			margin: 0 auto;
			background-color: white;
			padding-top: 20px;

			header {
				div {
					margin: 0 20px;
					border-bottom: solid $color-accent 5px;
					display: flex;
					flex-wrap: wrap;

					h1.title {
						margin: 0;
						padding-left: 20px;
						width: 230px;
						display: inline-block;
						color: $color-text;
					}

					a {
						height: 20px;
						text-decoration: none;
						color: $color-text;
						border-bottom: solid $color-accent 1px;
						margin: 20px 20px 10px auto;

						transition: all .1s;

						&:hover {
							color: $color-accent;
							border-bottom-width: 2px;
							margin-bottom: 9px;
						}
					}
				}
			}

			main {
				padding-left: 10px;
				margin-bottom: 40px;

				h2.label {
					padding-left: 10px;
					margin: 20px 0 20px 20px;
					border-bottom: solid $color-accent 2px;
					width: 300px;
					font-size: 20px;
					color: $color-text;

					svg {
						width: 28px;
						position: absolute;
						margin-left: 265px;

						&.index {
							circle {
								fill: $color-accent;
							}
							line {
								stroke: $color-accent;
								stroke-width: 6px;
							}
						}

						&.minesweeper {
							polygon, circle {
								fill: $color-accent;
								stroke: none;	
							}
						}

						&.reversi {
							circle.black {
								fill: $color-accent;
								stroke: $color-accent;
								stroke-width: 3px;
							}
							circle.white {
								fill: none;
								stroke: $color-accent;
								stroke-width: 3px;
							}
						}

						&.quiz {
							text {
								fill: $color-accent;
							}
						}

						&.pictogram {
							polygon {
								fill: none;
								stroke: $color-accent;
								stroke-width: 4px;
							}
						}

						&.afterword {
							path {
								fill: none;
								stroke: $color-accent;
								stroke-width: 4px;
							}
						}
					}
				}
				div.content {
					margin: 0 0 40px 30px;
				}

				#index-list {
					ul.index-list {
						list-style: none;
						padding-left: 10px;
						li.index {
							margin-bottom: 10px;
							border-left: solid $color-accent 5px;
							padding: 3px 0 3px 10px;
							background-color: $color-load-background;
							max-width: 200px;

							transition: all .2s;

							&:hover {
								border-left-width: 15px;
							}

							a {
								display: inline-block;
								width: 100%;
								font-weight: bold;
								color: $color-text;
								text-decoration: none;
							}
						}
					}
				}

				#minesweeper {
					#ms-description {
						margin: 0 0 0 10px;
						
						p {
							margin: 0 20px 10px 0;
						}

						label[for="ms-rule"] {
							border-bottom: solid $color-accent 2px;
							padding: 0 10px 0 5px;
							cursor: pointer;

							transition: color, .2s;
							&:hover {
								color: $color-accent;
							}
							
							span.plus {
								color: $color-accent;
							}
						}

						div.ms-rule {
							margin-right: 20px;
							background-color: rgba($color-accent, 0.1);
							padding-left: 10px;
							transition: all .5s;
							max-height: 0px;
							opacity: 0;
							visibility: hidden;
							padding: 10px;

							h3 {
								font-size: 16px;
								font-weight: normal;
								padding-left: 10px;
								margin: 0 0 10px 0;
								border-left: solid $color-accent 5px;
							}
							p {
								margin: 5px 0 5px 10px;
								&:last-of-type { margin: 5px 0 0 10px; }
							}
						}
						input#ms-rule:checked + div.ms-rule {
							margin-bottom: 0;
							max-height: 1000px;
							visibility: visible;
							opacity: 1;
						}
					}

					#ms-setting {
						margin: 0 0 5px 10px;
						display: flex;
						flex-wrap: wrap;

						#ms-difficulty {
							padding: 2px 10px 2px 2px;
							border: none;
							border-bottom: solid $color-accent 2px;
							font-size: 16px;
							outline: 0;
							height: 30px;
							color: $color-text;
						}

						input[type="number"] {
							border: none;
							border-bottom: solid $color-accent 2px;
							width: 50px;
							font-size: 15px;
							outline: 0;
							background-color: white;
							height: 26px;
							width: 60px;
							padding-left: 5px;

							transition: border-color .1s;

							&:disabled {
								border-bottom: solid rgba($color-accent, 0.3) 2px;
							}
						}

						#ms-start {
							outline: 0;
							border: none;
							background-color: $color-accent;
							color: white;
							font-size: 14px;
							padding: 7px 10px 4px 10px;
							border-radius: 2px;
							cursor: pointer;

							border-bottom: solid rgba(black, 0.2) 1px;

							&:hover {
								background-color: rgba($color-accent, 0.8);
							}
							&:active {
								transform: translate(0, 1px);
								border-top: solid rgba(white, 0.2) 1px;
								border-bottom: none;
							}
						}

						.ms-setting-timer {
							&::after {
								content: '秒';
								position: absolute;
								margin-left: -20px;
								margin-top: 3px;
								color: $color-text;
							}

							#ms-timer {
								width: 80px;
							}
						}

						.ms-setting-left {
							#ms-left {
								width: 80px;
							}
						}

						.ms-setting-box {
							margin-right: 20px;
							margin-top: 20px;

							&.ms-setting-box::before {
								font-size: 12px;
								position: absolute;
								margin-top: -14px;
								margin-left: 2px;
								color: $color-accent;
							}

							&.ms-setting-difficulty::before { content: '難易度' }
							&.ms-setting-sizeX::before { content: '横(7～50)' }
							&.ms-setting-sizeY::before { content: '縦(7～50)' }
							&.ms-setting-mines::before { content: '地雷(1～)' }
							&.ms-setting-timer::before { content: 'タイマー⌛' }
							&.ms-setting-left::before { content: '残りの地雷💣' }
						}
					}

					table {
						margin: 20px 0 0 20px;
						border-radius: 3px;
						padding: 1px;
						border-collapse: separate;
						border-spacing: 2px 2px;
						background-color: rgb(235, 235, 235);
						
						tbody#msBoard {
							tr {
								td {
									padding: 0;
									margin: 0;
									width: 23px;
									height: 23px;
									box-sizing: border-box;
									border-radius: 2px;
									font-size: 15px;
									line-height: 20px;
									text-align: center;
									font-weight: bold;
									transition: background-color .1s;
									cursor: default;
									user-select: none;
									
									&.closed {
										background: $color-minesweeper-background;
									}
									&.opened {
										background-color: white;
									}
									
									&.success::before {
										content: '💣';
										position: absolute;
										opacity: 0.8;
									}
									&.miss::before {
										content: '✖';
										position: absolute;
										color: white;
										font-size: 24px;
										opacity: 0.9;
									}
									
									&[data-mines] {
										color: rgb(100, 0, 0);
									}
									&[data-mines="1"] {
										color: rgb(50, 50, 255);
									}
									&[data-mines="2"] {
										color: rgb(0, 150, 0);
									}
									&[data-mines="3"] {
										color: rgb(200, 0, 0);
									}
									&[data-mines="4"] {
										color: rgb(150, 0, 150);
									}
								}
							}
						}
					}

					#ms-overlay {
						display: none;
						position: absolute;
						margin: 15px 0 0 20px;
						background-color: rgba(white, 0.6);

						&.show {
							display: flex;
							justify-content: center;
							align-items: center;

							opacity: 0;
							animation: show-overlay .5s .5s forwards;

							@keyframes show-overlay {
								to {
									opacity: 1;
								}
							}
						}

						&.gameover p.ms-gameover { display: block }
						&.clear p.ms-clear { display: block }

						div {
							display: flex;
							flex-direction: column;
							align-items: center;
							
							p {
								display: none;
								margin: 0 0 40px 0;
								font-weight: bold;
								font-size: 26px;
								color: rgb(53, 53, 53);

								&.ms-clear {
									color: rgb(255, 157, 44);
								}
							}
							
							button {
								outline: 0;
								border: none;
								box-shadow: 0 0 2px 2px rgba(gray,  0.2);
								padding: 5px 10px;
								border-radius: 2px;
								font-size: 16px;
								background-color: $color-accent;
								color: whitesmoke;
								cursor: pointer;

								&:hover {
									background-color: lighten($color-accent, 5%);
								}
							}
						}
					}
				}

				#reversi {
					#rv-description {
						margin: 0 0 0 10px;
						
						p {
							margin: 0 20px 10px 0;
						}

						label[for="rv-rule"] {
							border-bottom: solid $color-accent 2px;
							padding: 0 10px 0 5px;
							cursor: pointer;

							transition: color, .2s;
							&:hover {
								color: $color-accent;
							}
							
							span.plus {
								color: $color-accent;
							}
						}

						div.rv-rule {
							margin-right: 20px;
							background-color: rgba($color-accent, 0.1);
							padding-left: 10px;
							transition: all .5s;
							max-height: 0px;
							opacity: 0;
							visibility: hidden;
							padding: 10px;

							h3 {
								font-size: 16px;
								font-weight: normal;
								padding-left: 10px;
								margin: 0 0 10px 0;
								border-left: solid $color-accent 5px;
							}
							p {
								margin: 5px 0 5px 10px;
								&:last-of-type { margin: 5px 0 0 10px; }
							}
						}
						input#rv-rule:checked + div.rv-rule {
							margin-bottom: 0;
							max-height: 1000px;
							visibility: visible;
							opacity: 1;
						}
					}
					
					#rv-overlay {
						display: flex;
						justify-content: center;
						align-items: center;

						position: absolute;
						margin: 10px 0 0 20px;
						width: 258px;
						height: 258px;
						z-index: 10;
						
						visibility: hidden;
						
						div {
							display: none;
						}

						div.black-pass, div.white-pass {
							justify-content: center;
							align-items: center;
							padding: 10px;
							width: 100%;
							background-color: rgba(white, 0.6);

							p {
								margin: 0;
								font-weight: bold;
								font-size: 30px;
								color: black;
								font-style: italic;
							}
						}
						
						&.black-pass, &.white-pass {
							animation: slide-in-out 1s;
							
							@keyframes slide-in-out {
								0% {
									visibility: hidden;
									opacity: 0;
									transform: translateX(-20px);
								}
								20% {
									visibility: visible;
									opacity: 1;
									transform: translateX(0);
								}
								80% {
									visibility: visible;
									opacity: 1;
									transform: translateX(0);
								}
								100% {
									visibility: hidden;
									opacity: 0;
									transform: translateX(20px);
								}
							}

							&.black-pass div.black-pass { display: flex; }
							&.white-pass div.white-pass { display: flex; }
						}

						div.black-win, div.white-win, div.draw {
							flex-direction: column;
							align-items: center;
							
							p {
								font-weight: bold;
								font-size: 30px;
							}
							&.black-win p { color: rgb(252, 149, 32); }

							button {
								width: 100px;
								outline: 0;
								border: none;
								box-shadow: 0 0 2px 2px rgba(gray,  0.2);
								padding: 5px 10px;
								border-radius: 2px;
								font-size: 16px;
								background-color: $color-accent;
								color: whitesmoke;
								cursor: pointer;

								&:hover {
									background-color: lighten($color-accent, 5%);
								}
							}
						}

						&.black-win, &.white-win, &.draw {
							background-color: rgba(white, 0.5);
							animation: fade 1s forwards;
							
							&.black-win div.black-win { display: flex; }
							&.white-win div.white-win { display: flex; }
							&.draw div.draw { display: flex; }
						}

						@keyframes fade {
							from {
								opacity: 0;
								visibility: hidden;
							}
							to {
								opacity: 1;
								visibility: visible;
							}
						}
					}
					
					div.screen {
						display: flex;
						flex-wrap: wrap;

						table {
							margin: 10px 0 0 20px;
							border-radius: 3px;
							border-collapse: separate;
							border-spacing: 2px 2px;
							background-color: rgb(14, 14, 14);
	
							tbody#rv-board {
								tr {
									td {
										padding: 0;
										margin: 0;
										width: 30px;
										height: 30px;
										box-sizing: border-box;
										border-radius: 2px;
										font-size: 30px;
										text-align: center;
										line-height: 32px;
										user-select: none;
										background-color: rgb(0, 179, 0);
	
										&.black::before { content: '●'; color: black; }
										&.white::before { content: '●'; color: rgb(240, 240, 240); }
										&.putBlack::before { content: '・'; color: black; }
										&.putWhite::after { content: '・'; color: rgb(240, 240, 240); }
										
										&::before {
											position: absolute;
											margin: -15px 0 0 -19px;
											font-size: 38px;
											@include sp {
												font-size: 30px;
											}
										}
										&::after {
											position: absolute;
											margin: -15px 0 0 -19px;
											font-size: 38px;
											@include sp {
												font-size: 30px;
											}
										}
	
										&.reverse {
											&.black::before { animation: reverse-black .2s ease; }
											&.white::before { animation: reverse-white .2s ease; }
	
											@keyframes reverse-black {
												0% {
													color: white;
													transform: scaleX(1);
												}
												50% {
													color: white;
													transform: scaleX(0);
												}
												51% {
													color: black;
													transform: scaleX(0);
												}
												100% {
													color: black;
													transform: scaleX(1);
												}
											}
											@keyframes reverse-white {
												0% {
													color: black;
													transform: scaleX(1);
												}
												50% {
													color: black;
													transform: scaleX(0);
												}
												51% {
													color: white;
													transform: scaleX(0);
												}
												100% {
													color: white;
													transform: scaleX(1);
												}
											}
										}
									}
								}
								
								&.black {
									td.putBlack::before { display: inline-block; }
									td.putWhite::after { display: none; }
								}
								&.white {
									td.putWhite::after { display: inline-block; }
									td.putBlack::before { display: none; }
								}
							}
						}
	
						#rv-settings {
							margin: 10px 0 0 20px;
	
							div.black, div.white {
								margin-bottom: 10px;
								padding: 5px;
								border: dotted transparent 3px;
								transition: border-color .4s;
	
								p {
									margin: 0 0 30px 0;
	
									select#com-difficulty-setting {
										outline: 0;
										border: none;
										font-size: 16px;
										margin-top: -4px;
										padding: 2px;
										background-color: white;
										border-bottom: solid $color-accent 2px;
									}
								}
	
								div.counter {
									input {
										background-color: transparent;
										border: none;
										border-bottom: solid rgba($color-accent, 0.6) 2px;
										width: 60px;
										font-size: 16px;
										padding: 2px 0 2px 10px;
									}
	
									&::before {
										content: 'コマの数';
										color: $color-accent;
										font-size: 12px;
										position: absolute;
										margin: -20px 0 0 0;
									}
	
									&::after {
										content: 'コ';
										color: $color-text;
										font-size: 14px;
										position: absolute;
										margin: 0 0 0 -20px;
									}
								}
							}
	
							&.black div.black { border-color: lighten($color-accent, 10%); }
							&.white div.white { border-color: lighten($color-accent, 10%); }
	
							div.start {
								button {
									outline: 0;
									border: none;
									background-color: $color-accent;
									color: white;
									font-size: 14px;
									padding: 7px 10px 4px 10px;
									border-radius: 2px;
									cursor: pointer;
	
									border-bottom: solid rgba(black, 0.2) 1px;
	
									&:hover {
										background-color: rgba($color-accent, 0.8);
									}
									&:active {
										transform: translate(0, 1px);
										border-top: solid rgba(white, 0.2) 1px;
										border-bottom: none;
									}
								}
							}
						}
					}
				}

				#quiz {
					div.quiz {
						background-color: lighten($color-accent, 25%);
						border: solid lighten($color-accent, 10%);
						border-radius: 5px;
						max-width: 500px;
						padding: 10px 20px 20px 20px;
						margin: 40px 20px 40px 0;

						h3::before {
							content: '';
							position: absolute;
							right: 0;
							margin: -40px 0 0 0;
							font-size: 22px;
							font-weight: bold;
							color: rgb(255, 196, 0);
						}
						&.difficulty-1 h3::before { content: '★☆☆☆☆'; }
						&.difficulty-2 h3::before { content: '★★☆☆☆'; }
						&.difficulty-3 h3::before { content: '★★★☆☆'; }
						&.difficulty-4 h3::before { content: '★★★★☆'; }
						&.difficulty-5 h3::before { content: '★★★★★'; }

						@for $i from 1 to 11 {
							&:nth-child(#{$i})::before {
								content: 'Q.#{$i}';
								font-size: 20px;
								font-weight: bold;
								display: inline-block;
								margin: 0 0 10px 0;
							}
						}

						h3.question {
							position: relative;
							font-weight: normal;
							margin: 0 0 10px 0;
						}
						div.choices {
							display: flex;
							flex-direction: column;

							p.choice {
								margin: 7px 10px;
								padding: 10px 0;
								border-radius: 5px;
								box-shadow: 0px 2px 5px lightgray;
								text-align: center;
								background-color: rgba(lightgray, 0.4);
								font-weight: bold;

								&:hover {
									background-color: rgba(lightgray, 0.2);
								}
							}

							&.answered {
								p.choice {
									background-color: rgba(lightgray, 0.4);
									&.answer {
										background-color: rgba(rgb(0, 177, 0), 0.2);
									}
									&.missed {
										background-color: rgba(red, 0.2);
									}
								}

								& + div.answer {
									animation: show-answer .3s forwards;

									@keyframes show-answer {
										0% {
											visibility: hidden;
											opacity: 0;
											max-height: 0px;
											margin-bottom: -50px;
										}
										100% {
											visibility: visible;
											opacity: 1;
											max-height: 300px;
											margin-bottom: 0px;
										}
									}

									&::before {
										font-size: 20px;
										font-weight: bold;
										margin-bottom: 20px;
									}
								}
								&.correct + div.answer::before {
									content: '正解！';
									color: #72c572;
								}
								&.wrong + div.answer::before {
									content: '不正解！';
									color: darken($color-accent, 10%);
								}
							}
						}

						div.answer {
							visibility: hidden;
							max-height: 0px;
							border-top: solid rgb(185, 185, 185) 3px;
							margin: 20px 0 -50px 0;
							padding-top: 20px;

							p.answer {
								margin: 0;
								font-size: 26px;

								&::before {
									content: 'A.';
									font-size: 20px;
									margin-right: 10px;
									color: darken($color-accent, 20%);
								}
							}
							p:not(.answer) {
								margin: 10px 0;
							}
						}
					}

					div#result {
						background-color: lighten($color-accent, 25%);
						border: solid lighten($color-accent, 10%);
						border-radius: 5px;
						max-width: 500px;
						margin-right: 20px;
						padding: 10px 20px 20px 20px;

						h3 {
							margin: 5px 0 0 0;
							font-size: 22px;
						}

						p {
							margin: 10px 0 0 0;

						}
						
						div.quizes {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							margin: 0;

							p {
								margin: 5px 0;
								padding-left: 10px;
								box-sizing: border-box;
								width: 50%;
								font-size: 18px;

								@include sp {
									width: 100%;
								}
								
								span.answer {
									font-weight: bold;
									font-size: 20px;

									&::before {
										content: '未回答';
									}
									&.correct::before {
										content: '正解';
										color: #72c572;
									}
									&.wrong::before {
										content: '不正解';
										color: darken($color-accent, 10%);
									}
								}
							}
						}
					}
				}

				#pictogram {
					p {
						margin-right: 20px;
					}
					img.pictogram {
						width: 150px;
					}
				}

				#afterword {
					p {
						margin-right: 20px;
					}
				}
			}

			footer {
				min-height: 40px;
				background-color: $color-background-footer;
				display: flex;
				align-items: center;
				
				p {
					margin: 10px 0 10px 20px;

					color: rgb(66, 66, 66);
				}
			}
		}

		#loading {
			background-color: $color-load-background;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			animation: loaded 1s forwards;
			z-index: 10;

			div {
				.loading {
					width: 75px;
					height: 75px;
					margin: 10px auto;
					border-radius: 50%;
					border: solid rgba($color-accent, 0.2) 10px;
					border-top: solid $color-accent 10px;
					animation: loading 1s linear infinite;
				}
				@keyframes loading {
					from {
						transform: rotate(0deg);
					}
					to {
						transform: rotate(360deg);
					}
				}

				p {
					margin: 0;
				}
			}
		}
		
		@keyframes loaded {
			from {
				opacity: 1;
				visibility: visible;
				top: 0;
			}
			to {
				top: -100px;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
