$color-load-background: rgb(252, 236, 238);
$color-background: whitesmoke;
$color-background-line: lightgray;
$color-accent: rgb(255, 116, 139);

$color-background-footer: rgb(253, 199, 208);

$color-minesweeper-background: rgb(150, 160, 252);

$mesh-size: 20px;

html {
	body {
		margin: 0;
		background-color: $color-background;
		background: repeating-linear-gradient(to bottom, transparent, transparent $mesh-size, $color-background-line $mesh-size, $color-background-line calc(#{$mesh-size} + 1px)), repeating-linear-gradient(to right, transparent, transparent $mesh-size, $color-background-line $mesh-size, $color-background-line calc(#{$mesh-size} + 1px));

		#content {
			max-width: 900px;
			margin: 0 auto;
			background-color: white;
			padding-top: 20px;

			header {
				h1.title {
					margin: 0 20px 20px 20px;
					padding-left: 20px;
					border-bottom: solid $color-accent 5px;
					color: rgb(70, 70, 70);
				}
			}

			main {
				padding-left: 10px;
				margin-bottom: 40px;

				h2.label {
					padding-left: 10px;
					margin: 20px 0 20px 20px;
					border-bottom: solid $color-accent 2px;
					width: 300px;
					font-size: 20px;
					color: rgb(70, 70, 70);

					svg {
						width: 28px;
						position: relative;
						top: 8px;
						left: 120px;

						&.minesweeper {
							fill: $color-accent;
							stroke: none;
						}
					}
				}
				div.content {
					margin-left: 30px;
				}

				#minesweeper {
					#ms-setting {
						margin: 0 0 5px 10px;
						display: flex;
						flex-wrap: wrap;

						#ms-difficulty {
							padding: 2px 10px 2px 2px;
							border: none;
							border-bottom: solid $color-accent 2px;
							font-size: 16px;
							outline: 0;
							height: 30px;
							color: rgb(70, 70, 70);
						}

						input[type="number"] {
							border: none;
							border-bottom: solid $color-accent 2px;
							width: 50px;
							font-size: 15px;
							outline: 0;
							background-color: white;
							height: 26px;
							width: 60px;
							padding-left: 5px;

							transition: border-color .1s;

							&:disabled {
								border-bottom: solid rgba($color-accent, 0.3) 2px;
							}
						}

						#ms-start {
							outline: 0;
							border: none;
							background-color: $color-accent;
							color: whitesmoke;
							font-size: 14px;
							padding: 7px 10px 4px 10px;
							border-radius: 2px;
							cursor: pointer;

							border-bottom: solid rgba(black, 0.2) 1px;

							&:hover {
								background-color: rgba($color-accent, 0.8);
							}
							&:active {
								transform: translate(0, 1px);
								border-top: solid rgba(white, 0.2) 1px;
								border-bottom: none;
							}
						}

						.ms-setting-timer {
							&::after {
								content: '秒';
								position: absolute;
								margin-left: -20px;
								margin-top: 3px;
								color: rgb(84, 84, 84);
							}

							#ms-timer {
								width: 80px;
							}
						}

						.ms-setting-left {
							#ms-left {
								width: 80px;
							}
						}

						.ms-setting-box {
							margin-right: 20px;
							margin-top: 20px;

							&.ms-setting-box::before {
								font-size: 12px;
								position: absolute;
								margin-top: -14px;
								margin-left: 2px;
								color: $color-accent;
							}

							&.ms-setting-difficulty::before { content: '難易度' }
							&.ms-setting-sizeX::before { content: '横(7～50)' }
							&.ms-setting-sizeY::before { content: '縦(7～50)' }
							&.ms-setting-mines::before { content: '地雷(1～)' }
							&.ms-setting-timer::before { content: 'タイマー⌛' }
							&.ms-setting-left::before { content: '残りの地雷💣' }
						}
					}

					table {
						margin: 20px 0 0 20px;
						border-radius: 3px;
						padding: 1px;
						border-collapse: separate;
						border-spacing: 2px 2px;
						background-color: rgb(235, 235, 235);
						
						tbody#msBoard {
							tr {
								td {
									padding: 0;
									margin: 0;
									width: 23px;
									height: 23px;
									box-sizing: border-box;
									border-radius: 2px;
									font-size: 15px;
									line-height: 20px;
									text-align: center;
									font-weight: bold;
									transition: background-color .1s;
									cursor: default;
									user-select: none;
									
									&.closed {
										background: $color-minesweeper-background;
									}
									&.opened {
										background-color: white;
									}
									
									&.success::before {
										content: '💣';
										position: absolute;
										opacity: 0.8;
									}
									&.miss::before {
										content: '✖';
										position: absolute;
										color: white;
										font-size: 24px;
										opacity: 0.9;
									}
									
									&[data-mines] {
										color: rgb(100, 0, 0);
									}
									&[data-mines="1"] {
										color: rgb(50, 50, 255);
									}
									&[data-mines="2"] {
										color: rgb(0, 150, 0);
									}
									&[data-mines="3"] {
										color: rgb(200, 0, 0);
									}
									&[data-mines="4"] {
										color: rgb(150, 0, 150);
									}
								}
							}
						}
					}

					#ms-overlay {
						display: none;
						position: absolute;
						margin: 15px 0 0 20px;
						background-color: rgba(white, 0.6);

						&.show {
							display: flex;
							justify-content: center;
							align-items: center;

							opacity: 0;
							animation: show-overlay .5s .5s forwards;

							@keyframes show-overlay {
								to {
									opacity: 1;
								}
							}
						}

						&.gameover p.ms-gameover { display: block }
						&.clear p.ms-clear { display: block }

						div {
							display: flex;
							flex-direction: column;
							align-items: center;
							
							p {
								display: none;
								margin: 0 0 40px 0;
								font-size: 26px;
								color: rgb(53, 53, 53);

								&.ms-clear {
									color: rgb(255, 157, 44);
								}
							}
							
							button {
								outline: 0;
								border: none;
								box-shadow: 0 0 2px 2px rgba(gray,  0.2);
								padding: 5px 10px;
								border-radius: 2px;
								font-size: 16px;
								background-color: $color-accent;
								color: whitesmoke;
								cursor: pointer;
							}
						}
					}
				}
			}

			footer {
				height: 40px;
				background-color: $color-background-footer;
				display: flex;
				align-items: center;
				
				p {
					margin-left: 20px;

					color: rgb(66, 66, 66);
				}
			}
		}

		#loading {
			background-color: $color-load-background;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			animation: loaded 1s forwards;
			z-index: 10;

			div {
				.loading {
					width: 75px;
					height: 75px;
					margin: 10px auto;
					border-radius: 50%;
					border: solid rgba($color-accent, 0.2) 10px;
					border-top: solid $color-accent 10px;
					animation: loading 1s linear infinite;
				}
				@keyframes loading {
					from {
						transform: rotate(0deg);
					}
					to {
						transform: rotate(360deg);
					}
				}

				p {
					margin: 0;
				}
			}
		}
		
		@keyframes loaded {
			from {
				opacity: 1;
				visibility: visible;
				top: 0;
			}
			to {
				top: -100px;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}